---
layout: frontpage
title: Template Site
---

    <div>{% markdown frontpage/starting-text.md %}</div>

<div class="row">
  <div class="col-md-12">
    <div id="grid">
            <div>{% markdown frontpage/starting-text.md %}</div>
            {% for post in site.posts limit:10000 %}
              {% if post %}
               <div class="brick">
                 <a href="{{site.baseurl}}{{ post.url }}"><img src="{{ post.featured-image }}" />
                   {{ post.title }}</a>{{post.excerpt | truncatewords: 20 }}</div>
              {% endif %}
            {% endfor %}
        <div class="gridbreak"></div>
        <div class="gridbreak"></div>
    </div>

    <div>{% markdown frontpage/endtext.md %}</div>
