<div class="container">
  <div class="row">
    <div class="col-md-12">
      {% image 1170x560 photo.jpg class="img-responsive" %}
      <div class="home-title">
        <h2>Test text</h2>
      </div>
    </div>
  </div>
</div>
