<!DOCTYPE html>
<html>

  {% include layouts/head.html %}

    <body>
    {% include layouts/header.html %}

      <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% include layouts/sidebar.html %}
            </div>
            <div class="col-md-9">
                {{ content }}
            </div>

        </div><!-- end row -->
      </div><!-- end container -->

    {% include layouts/footer.html %}

    </body>
</html>
