<div class="container">
  <div class="row">
    <div class="col-md-12">
    <nav class="navbar navbar-custom" role="navigation"><!-- add class navbar-fixed-top to fix navbar -->

            <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle"
                data-toggle="collapse" data-target=".navbar-main-collapse">Menu<!--<i class="fa fa-bars"></i>-->
              </button>
              <div id="site_title">
                <h1><a href="{{site.baseurl}}/">{{ site.name }}</a></h1>
                <h4>{{ site.description }}</h4>
              </div>
            </div>


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
              <ul class="nav navbar-nav">
                {% for node in site.navigable-pages %}
                {% if page.url == node.url/ %}
                  <li><a href="{{site.baseurl}}{{ node.url }}" class="btn active">{{ node.title }}</a></li>
                {% else %}
                  <li><a href="{{site.baseurl}}{{ node.url }}" class="btn">{{ node.title }}</a></li>
                {% endif %}
                {% endfor %}
              </ul>
            </div>
    </nav>
  </div>
  </div>
</div>
</header>
