<div class="container">
    <h3>Site Pages</h3>
      <ul class="side-menu">
      {% for node in site.navigable-pages %}
      {% if page.url == node.url/ %}
        <li><a href="{{site.baseurl}}{{ node.url }}" class="active">{{ node.title }}</a></li>
      {% else %}
        <li><a href="{{site.baseurl}}{{ node.url }}">{{ node.title }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
</div>
<!--<h3>Posts</h3>
<ul id="archive-featured">
  {% for post in site.posts limit:20 %}
    {% if post %}
     <li>
       <!--<span>{{ post.date | date_to_string }}</span> &raquo;-->
       <!--<a href="{{site.baseurl}}{{ post.url }}"><img class="img-circle" src="{{ post.featured-image }}" />
       {{ post.title }}</a>
     </li>
    {% endif %}
  {% endfor %}
</ul>-->
