//@import (less) "app.min.css";
@import (less) "main.css";
@import "bower_components/bootstrap/less/bootstrap.less";
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
    color:brown;
    font-size: 18px;
}

a {
    color: gray;
}

.navbar {
  //background-color: #c0c0c0;
  border-bottom: solid 1px #666;
  border-radius: 0;
}

.home-title h2 {
  color: #121214;
  font: 400 24px/30px;
  font-family: 'Open Sans', Arial;
  text-align: center;
  text-transform: none;
  border: none;
  border-bottom: 1px solid #000000;
  padding-top: 24px;
  padding-bottom: 54px;
}

.side-menu .active {
  text-decoration: underline;
}

.thumbnail {
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: none;
}

ul#archive-featured {
  list-style: none;
}
/* ============================================================
    Grid
   ============================================================ */

#grid {
	text-align: justify;
	font-size: 0.1px;
	line-height: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  padding: 0 15px;
}

#grid:after {
	content: '';
	display: inline-block;
	width: 100%;
}

#grid .brick {
	display: inline-block;
	width: 31%; // THIS SETS COLUMN WIDTH
	vertical-align: text-top;
	text-align: left;
	margin-bottom: 60px;
	line-height: 1.428571429;
	font-size: 14px;
}

.gridbreak {
	content: '';
	display: inline-block;
	width: 31%; // THIS SETS COLUMN WIDTH
	height:0;
}
